section#about-us.scrollto.section
  .profile
    h1.profile__name Dileep Raman, MD
    h2.profile__qualification Board Certification: Internal Medicine, Pulmonary, Critical care and Sleep Medicine.
    .profile__bio
      p
        | Dr. Raman graduated from the Government Medical College Thrissur where he won the distinguished gold medal in Medicine for academic excellence and was elected to the Alpha Omega Alpha medical society. He completed his internship and residency in Internal medicine at Texas Tech University where he was voted best intern and best medical resident, and served as Chief Medical Resident.  His Pulmonary, Critical care medicine and Sleep medicine fellowships were completed at the Cleveland Clinic Foundation where he was elected Chief fellow.  His clinical interests include interstitial lung disease, critical care ultrasonography, physiology and taxonomy of mechanical ventilation and sleep medicine.  His research interests are varied and include publications in the field of critical care ultrasonography. He is also a skilled medical educator and has received many teaching awards during the course of his graduate medical education.
      p
        | His focus is on application information technology to improve quality of care in remote and underserved areas and to aid in teaching and academic activities utilizing critical care networks. He is also interested in providing high quality and cost effective remote sleep medicine services.

  .profile
    h1.profile__name Dhruv Joshi, MD
    h2.profile__qualification Board Certification: Internal Medicine, Pulmonary, Critical care and Sleep Medicine.
    .profile__bio
      p
        | Dr. Joshi graduated from St John’s Medical College in Bangalore, India. He completed his Internal Medicine residency at Good Samaritan Hospital in Baltimore, Maryland.  His Pulmonary and Critical Care fellowship was completed at the Cleveland Clinic Foundation.
      p
        | His clinical areas of interest include critical care, mechanical ventilation, and pulmonary hypertension. During both residency and fellowship Dr. Joshi was involved in a number of projects involving quality improvement, patient outcomes and optimizing resource utilization. His research interests span across preventing readmissions among patients, critical care medicine and modes of mechanical ventilation. He is part of the team that won the national CHEST challenge conducted by the American College of Chest Physicians in 2014. He is a member of the Healthcare Information and Management Systems Society and the American Telemedicine Association and is actively working on means of adoption of technology such as telemedicine to improve patient outcomes.
