section#contact.scrollto.section
  address.contact
    h1.contact__name Dileep Raman MD
    p.contact__line1 Critical Care, Pulmonary Medicine & Sleep Medicine
    p.contact__line2 7, Bellary Road, Ganganagar, Bangalore - 560032
    a.contact__phone(href="tel:+919567385277") +91 9567385277&nbsp;
    a.contact__main(href="mailto:dileep.raman@cloudphysician.net") dileep.raman@cloudphysician.net&nbsp;

  address.contact
    h1.contact__name Dhruv Joshi MD
    p.contact__line1 Pulmonary & Critical Care
    p.contact__line2 7, Bellary Road, Ganganagar, Bangalore - 560032
    a.contact__phone(href="tel:+919844136320")
      | +91 9844136320&nbsp;
    a.contact__main(href="mailto:dhruv.joshi@cloudphysician.net") dhruv.joshi@cloudphysician.net&nbsp;







