.header__wrapper
  header.header
    img#logo(src="../assets/logo.svg" alt="Cloud Physician Logo")
    nav.header__nav
      ul.header__nav-list
        li.header__nav-item
          a.active(href="#home") Home
        li.header__nav-item
          a(href="#about-us") About
        li.header__nav-item
          a(href="#contact") Contact us