section#home.scrollto.section
  #glide.glide
    .glide__wrapper
      ul.glide__track
        li.glide__slide
          img(src='https://unsplash.it/1088/900/?random')
          .glide__text lorempixel lorempixel
        li.glide__slide
          img(src='http://lorempixel.com/1088/900')
          .glide__text lorempixel lorempixel
        li.glide__slide
          img(src='http://placehold.it/1088x900')
          .glide__text lorempixel lorempixel
    .glide__bullets