doctype html
html
  head
    meta(charset="utf-8")
    title Cloud Physician
    link(rel="stylesheet", type="text/css", href="styles/app.css")
  body
    main
      include partials/_header
      include partials/_home
      include partials/_about-us
      include partials/_contact
      include partials/_scripts